@model Model.DTOs.ProductEditDto

@{
    ViewData["Title"] = ", Editando un producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["imagen"] = Url.Content("~/images/create_places.jpg");
}

<!-- Home -->
<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="@ViewData["imagen"]" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_title">
                            <h2 class="section-heading text-center h1 pt-4">Creando un nuevo producto</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">

    <section class="section">



        <div class="row">
            <!--Grid column-->

            <div class="col-md-8 col-xl-9">

                <form enctype="multipart/form-data" asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ProductId" />
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" readonly />
                            </div>
                        </div>

                    </div>

                    <div class="row mt-2">

                        <!--Grid column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control" rows="5"> </textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">

                        <!--Grid column-->
                        <div class="col-md-4">
                            <div class="md-form">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>

                        <!--Grid column-->
                        <div class="col-md-4">
                            <div class="md-form">
                                <label asp-for="CoverPage" class="control-label"></label>
                                <div class="custom-file">
                                    <input asp-for="CoverPage" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Selecione la portada</label>
                                </div>
                                <span asp-validation-for="CoverPage" class="text-danger"></span>
                            </div>
                        </div>

                        <!--Grid column-->
                        <div class="col-md-4">
                            <div class="md-form">
                                <label asp-for="SquareCover" class="control-label"></label>
                                <div class="custom-file">
                                    <input asp-for="SquareCover" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Selecione la portada</label>
                                </div>
                                <span asp-validation-for="SquareCover" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <div class="row mt-2">

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form">
                                <label asp-for="Discounts" class="control-label"></label>
                                <input asp-for="Discounts" class="form-control" />
                                <span asp-validation-for="Discounts" class="text-danger"></span>
                            </div>
                        </div>

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form form-check">
                                <label class="form-check-label mt-4">
                                    <input class="form-check-input" asp-for="Statud" /> @Html.DisplayNameFor(model => model.Statud)
                                </label>
                            </div>
                        </div>

                    </div>

                    <div class="row mt-2">

                        <!--Grid column-->
                        <div class="col-md-4">
                            <div class="md-form">
                                <label asp-for="PersonNumber" class="control-label"></label>
                                <input asp-for="PersonNumber" class="form-control" />
                                <span asp-validation-for="PersonNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <!--Grid column-->
                        <div class="col-md-4">
                            <div class="md-form">
                                <label asp-for="AmountSupported" class="control-label"></label>
                                <input asp-for="AmountSupported" class="form-control" />
                                <span asp-validation-for="AmountSupported" class="text-danger"></span>
                            </div>
                        </div>

                        <!--Grid column-->
                        <div class="col-md-4">
                            <div class="md-form">
                                <label asp-for="PlaceId" class="control-label"></label>
                                <select asp-for="PlaceId" class="form-control" asp-items="ViewBag.PlaceId"></select>
                            </div>
                        </div>

                    </div>

                    <div class="row mt-2">

                        <!--Grid column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <label asp-for="Gallery" class="control-label"></label>
                                <div class="custom-file">
                                    <input asp-for="Gallery" multiple class="custom-file-input" id="customFile1">
                                    <label class="custom-file-label" for="customFile1">Selecionar Galleria</label>
                                </div>
                                <span asp-validation-for="Gallery" class="text-danger"></span>
                            </div>
                        </div>

                    </div>


                    <br />

                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn button button_3 btn-block" />
                    </div>

                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </form>

            </div>

            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4 col-xl-3">
                <p>
                    Señor usuario antes de hacer un CREATE o EDIT es importante que tenga en cuenta lo siguiente.
                    A) El campo nombre es también el responsable de crear la URL del micrositio así que se le
                    impera agregar caracteres especiales y no podrá ser modificado posteriormente. B) En caso
                    de que te pida logo a la hora de crear el tamaño es de 200px x 200px C) El tamaño de la
                    portada es de 1920px x 633px y deberá de pesar menos de 2mb D) El tamaño de la portada
                    cuadrada será de 1080px x 1080px y deberá de pesar menos de 2mb E) Es muy importante activar
                    el estado cuando se encuentre seguro de estar bien todo.
                </p>
            </div>
            <!--Grid column-->

        </div>
    </section>

</div>


@section Scripts {
    <script type="text/javascript">
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}