@model Model.DTOs.EventEditDto

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["imagen"] = Url.Content($"~/images/images/{ViewBag.CoverPage}");
}

<!-- Home -->
<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="@ViewData["imagen"]" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5">

    <section class="section">

        <div class="row">

            <!--Grid column-->
            <div class="col-md-8 col-xl-9">
                <form enctype="multipart/form-data" asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="EventId" />

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <label asp-for="Name" class="control-label"></label>
                                <input readonly asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger">@ViewBag.DuplicaName</span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control" rows="5"> </textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form">
                                <label asp-for="CoverPage" class="control-label"></label>
                                <div class="custom-file">
                                    <input asp-for="CoverPage" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                                <span asp-validation-for="CoverPage" class="text-danger"></span>
                            </div>
                        </div>

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form">
                                <label asp-for="SquareCover" class="control-label"></label>
                                <div class="custom-file">
                                    <input asp-for="SquareCover" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                                <span asp-validation-for="SquareCover" class="text-danger"></span>
                            </div>
                        </div>

                    </div>


                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-5">
                            <div class="md-form">
                                <label asp-for="Author" class="control-label"></label>
                                <input asp-for="Author" class="form-control" />
                                <span asp-validation-for="Author" class="text-danger"></span>
                            </div>
                        </div>

                        <!--Grid column-->
                        <div class="col-md-5">
                            <div class="md-form">
                                <label asp-for="EventsDate" class="control-label"></label>
                                <input type="date" asp-for="EventsDate" class="form-control" />
                                <span asp-validation-for="EventsDate" class="text-danger"></span>
                            </div>
                        </div>

                        <!--Grid column-->
                        <div class="col-md-2">
                            <div class="md-form">
                                <div class="md-form form-check">
                                    <label class="form-check-label mt-4">
                                        <input class="form-check-input" asp-for="State" /> @Html.DisplayNameFor(model => model.State)
                                    </label>
                                </div>
                            </div>
                        </div>


                    </div>

                    <br />

                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn button button_3 btn-block" />
                    </div>

                </form>

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4 col-xl-3">
                <p>
                    Señor usuario antes de hacer un CREATE o EDIT es importante que tenga en cuenta lo siguiente.
                    A) El campo nombre es también el responsable de crear la URL del micrositio así que se le
                    impera agregar caracteres especiales y no podrá ser modificado posteriormente. B) En caso
                    de que te pida logo a la hora de crear el tamaño es de 200px x 200px C) El tamaño de la
                    portada es de 1920px x 633px y deberá de pesar menos de 2mb D) El tamaño de la portada
                    cuadrada será de 1080px x 1080px y deberá de pesar menos de 2mb E) Es muy importante activar
                    el estado cuando se encuentre seguro de estar bien todo.
                </p>
            </div>
            <!--Grid column-->

        </div>

    </section>




    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {


    <script type="text/javascript">
        // Agregue el siguiente código si desea que aparezca el nombre del archivo en select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
