@model Model.DTOs.PlaceCreateDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Place</h4>
<hr />


<div class="container">

    <section class="section">

        <!--Section heading-->
        <h2 class="section-heading text-center h1 pt-4">Creando un nuevo lugar</h2>
        <!--Section description-->
        @*<p class="section-description">
                Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
                matter of hours to help you.
            </p>*@

        <div class="row">

            <!--Grid column-->
            <div class="col-md-8 col-xl-9">
                <form enctype="multipart/form-data" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form">
                                <label asp-for="Nit" class="control-label"></label>
                                <input asp-for="Nit" class="form-control" />
                                <span asp-validation-for="Nit" class="text-danger"></span>
                            </div>
                        </div>
                        <!--Grid column-->

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form">
                                <label asp-for="Phone" class="control-label"></label>
                                <input asp-for="Phone" class="form-control" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <!--Grid column-->

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Admin" class="control-label"></label>
                                <input asp-for="Admin" class="form-control" />
                                <span asp-validation-for="Admin" class="text-danger"></span>
                            </div>
                        </div>

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="City" class="control-label"></label>
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>

                        <!--Grid column-->

                        <div class="col-md-6">
                            <div class="md-form">
                                <label asp-for="Address" class="control-label"></label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!--Grid row-->
                    <div class="row mt-3">

                        <!--Grid column-->
                        <div class="col-md-12">

                            <div class="md-form">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                        </div>
                    </div>

                    <!--Grid row-->
                    <div class="row mt-3">

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form">
                                <label asp-for="Logo" class="control-label"></label>
                                <div class="custom-file">
                                    <input asp-for="Logo" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                                <span asp-validation-for="Logo" class="text-danger"></span>
                            </div>
                        </div>

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form">
                                <label asp-for="CoverPage" class="control-label"></label>
                                <div class="custom-file">
                                    <input asp-for="CoverPage" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                                <span asp-validation-for="CoverPage" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <!--Grid row-->
                    <div class="row mt-3">

                        <div class="col-md-4">
                            <div class="md-form">
                                <label asp-for="CategoryId" class="control-label"></label>
                                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>
                        </div>

                        <!--Grid column-->
                        <div class="col-md-4">
                            <div class="md-form">
                                <label asp-for="Contract" class="control-label"></label>
                                <input asp-for="Contract" class="form-control" />
                                <span asp-validation-for="Contract" class="text-danger"></span>
                            </div>
                        </div>

                        <!--Grid column-->
                        <div class="col-md-4">
                            <div class="md-form form-check">
                                <label class="form-check-label mt-4">
                                    <input class="form-check-input" asp-for="State" /> @Html.DisplayNameFor(model => model.State)
                                </label>
                            </div>
                        </div>

                    </div>

                    <br />

                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn button button_3 btn-block" />
                    </div>

                </form>

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4 col-xl-3">
                <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum como </p>
            </div>
            <!--Grid column-->

        </div>

    </section>
    <!--Section: Contact v.2-->
    @*<div class="row">
            <div class="col-md-4">
                <form enctype="multipart/form-data" asp-action="Edit">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="PlaceId" />

                    <div class="form-group">
                        <label asp-for="Nit" class="control-label"></label>
                        <input asp-for="Nit" class="form-control" />
                        <span asp-validation-for="Nit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" readonly />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Admin" class="control-label"></label>
                        <input asp-for="Admin" class="form-control" />
                        <span asp-validation-for="Admin" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <img src="~/images/Places/@ViewBag.CoverPage" class="rounded-circle" height="40" width="40" asp-append-version="true" />
                    </div>


                    <div class="form-group">
                        <label asp-for="CoverPage" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="CoverPage" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <span asp-validation-for="CoverPage" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <img src="~/images/Places/@ViewBag.Logo" class="rounded-circle" height="40" width="40" asp-append-version="true" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Logo" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="Logo" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <span asp-validation-for="Logo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Contract" class="control-label"></label>
                        <input asp-for="Contract" class="form-control" />
                        <span asp-validation-for="Contract" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="State" /> @Html.DisplayNameFor(model => model.State)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label"></label>
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>*@

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
