@{
    ViewData["Title"] = "Acerca de";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["imagen"] = Url.Content("~/images/blog.jpg");
}

<div class="super_overlay"></div>

<!-- Home -->

<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="@ViewData["imagen"]" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_title">The Blog</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h1>@ViewData["Title"]</h1>


<div style="background-image: url(../images/index.jpg);">
    <p>Use this page to detail your site's privacy policy.</p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quibusdam, exercitationem distinctio aspernatur consequatur officiis iusto neque nobis voluptatum placeat mollitia eos itaque earum delectus, dolor ex est quas doloribus impedit reiciendis nisi praesentium magni quod minima! Eius porro dolorem sequi facilis saepe ab est cumque? Totam aperiam quod sed eum accusamus eius quae impedit expedita aspernatur, sequi, temporibus sunt corrupti. Dolor officia recusandae at id, tempora quasi fugit in beatae voluptates? Esse eligendi dolore eius numquam, hic dolor animi quidem debitis. Quidem totam officiis architecto accusamus ex libero odit voluptatem eius obcaecati aut fugit dolorum distinctio id vel, earum ipsum explicabo quae iste accusantium ut! Eos nostrum suscipit ullam vero necessitatibus aliquam animi enim corporis nulla sapiente aut distinctio dolorem, quia odio maxime illo praesentium ducimus. Numquam maiores modi quis odio ipsum, fugit dicta molestias officia eius deserunt, quia amet quasi doloremque aliquid similique nobis! Rem minima, assumenda ducimus fugit vitae, corrupti voluptas adipisci excepturi non veritatis praesentium harum quasi accusamus temporibus distinctio libero exercitationem ex enim itaque fugiat quaerat quas ad vel. Provident esse natus odit iste asperiores modi tempora tenetur voluptas, laboriosam neque, perferendis minima placeat soluta ea quia consectetur aut facilis saepe aliquam harum accusamus velit itaque. Asperiores esse vero provident quisquam porro mollitia, cumque perferendis maiores nisi ullam in labore. Reprehenderit dolorum optio a sed, praesentium nobis, aliquid voluptatibus id sint eos vel veniam dignissimos! Quidem laborum, saepe numquam tenetur aut, placeat accusantium maxime impedit ex minus amet. Commodi dolorem repellat doloribus distinctio tempore provident officia tenetur voluptatem. Necessitatibus, temporibus corporis error aliquid repellat, natus earum officiis aut vel totam, similique maxime molestias illo facilis distinctio quibusdam repudiandae dicta. Recusandae blanditiis, quas accusamus tempora corporis, ab at maiores obcaecati, quisquam eaque assumenda non nemo reprehenderit unde sequi ex aliquid! Voluptates officiis ratione blanditiis voluptatibus. Magni reprehenderit aspernatur quis soluta repudiandae dignissimos distinctio! Autem dolorem quidem tempore officiis illum, voluptatum soluta minus quis ducimus consequatur ipsum earum saepe obcaecati deleniti quos necessitatibus dicta natus numquam molestiae beatae. Nostrum sapiente quam velit eius rerum illum? Non nemo expedita harum rerum. Facere veritatis est quae eius accusamus animi dolorem iure ab exercitationem dolores. Mollitia alias, iure aut officiis in id facilis temporibus error amet inventore repellat omnis aliquam dignissimos dicta quo deserunt, molestias veritatis numquam laudantium cum assumenda nihil iusto, tenetur quasi. Vitae iste labore ratione quidem laudantium molestias quod doloribus illum id ipsum rem sapiente voluptas tempora nostrum, maxime minus mollitia quam, dolore omnis vel ad alias. Facilis repellat error, earum, quibusdam nemo quas impedit veritatis cum ad a ab aut! Necessitatibus est, veniam sapiente nobis repellat laboriosam blanditiis? Nostrum magni pariatur sapiente. Eligendi excepturi dignissimos, quia totam, quas explicabo beatae, consequatur amet eveniet deleniti repellat ipsa velit! Cum officia illum distinctio saepe fuga architecto corporis doloremque eos, ipsam, hic voluptas inventore unde quis sunt, expedita eligendi nostrum dignissimos vel excepturi assumenda. Minima perferendis, nam id quae dignissimos eaque facilis animi! Aperiam atque, ipsum incidunt optio porro molestias magni excepturi dolore provident explicabo consequuntur perferendis enim veniam.
    </p>
</div>
<h1>Antes de esto deberia de salir la imagen</h1>