@model Model.DTOs.AtributeContact

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["imagen"] = Url.Content("~/images/create_places.jpg");
}


<div class="super_overlay"></div>

<!-- Home -->
<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="@ViewData["imagen"]" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_title">
                            <h2 class="section-heading text-center h1 pt-4">Creando un nuevo lugar</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact -->

<div class="contact container_custom">
    <div class="container">
        <div class="row">

            <!-- Contact Content -->
            <div class="col-xl-12">
                <div class="contact_content">
                    <div class="contact_form_container">
                        <div class="section_title"><h1>Ponerse en contacto</h1></div>

                        <form asp-action="SendEmail" method="post" class="contact_form" id="contact_form">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-lg-6 contact_form_col">

                                    <div class="md-form">
                                        <input asp-for="Name" class="form-control contact_input" placeholder="Tu nombre" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-lg-6">

                                    <div class="md-form">
                                        <input asp-for="Email" class="form-control contact_input" placeholder="E-Mail" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>
                            <div>
                                <div class="md-form">
                                    <input asp-for="Subject" class="form-control contact_input" placeholder="Asunto" />
                                    <span asp-validation-for="Subject" class="text-danger"></span>
                                </div>

                            </div>
                            <div>
                                <div class="md-form">
                                    <textarea asp-for="Message" class="form-control contact_input contact_textarea" placeholder="Mensaje" rows="5"></textarea>
                                    <span asp-validation-for="Message" class="text-danger"></span>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-block contact_button trans_200">Enviar</button>
                        </form>

                        <partial name="_MessajeContact" />

                        <div class="contact_info">
                            <div class="section_title"><h1>Datos de contacto</h1></div>

                            <div class="contact_info_list">
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        <span>Dirección: </span>
                                    </dt>
                                    <dd class="col-sm-10">
                                        Santa Fe de Antioquia, local 12 del Hotel Mariscal
                                    </dd>
                                    <dt class="col-sm-2">
                                        <span>Contacto: </span>
                                    </dt>
                                    <dd class="col-sm-10">
                                        3105108287
                                    </dd>
                                    <dt class="col-sm-2">
                                        <span>E-Mail: </span>
                                    </dt>
                                    <dd class="col-sm-10">
                                        soporte@pueblostravel.com
                                    </dd>

                                </dl>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}