@{
    ViewData["Title"] = "Santa Fe de Antioquia,";
}

    <!-- Home -->

<div class="home_carousel">

    <!-- Home Slider -->
    <div class="home_slider_container">
        <div class="owl-carousel owl-theme home_slider">

            <!-- Slide -->
            <div class="slide">
                <div class="background_image" style="background-image:url(../images/alcaldia.jpg)"></div>
                <div class="home_container">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 offset-xl-2">
                                <div class="home_content text-center">
                                    <div class="home_title"><h1>¡Ven y disfruta!</h1></div>
                                    <div class="search_form_container">
                                        <form action="#" class="search_form" id="search_form">
                                            <div class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center justify-content-sm-between">
                                                <input type="text" class="search_input" placeholder="¿Qué estás buscando?" required="required">
                                                <button class="search_button">Buscar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide -->
            <div class="slide">
                <div class="background_image" style="background-image:url(../images/Flor.jpg)"></div>
                <div class="home_container">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 offset-xl-2">
                                <div class="home_content text-center">
                                    <div class="home_title"><h1>¡Ven y disfruta!</h1></div>
                                    <div class="search_form_container">
                                        <form action="#" class="search_form" id="search_form">
                                            <div class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center justify-content-sm-between">
                                                <input type="text" class="search_input" placeholder="¿Qué estás buscando?" required="required">
                                                <button class="search_button">Buscar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide -->
            <div class="slide">
                <div class="background_image" style="background-image:url(../images/santa.jpg)"></div>
                <div class="home_container">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 offset-xl-2">
                                <div class="home_content text-center">
                                    <div class="home_title"><h1>¡Ven y disfruta!</h1></div>
                                    <div class="search_form_container">
                                        <form action="#" class="search_form" id="search_form">
                                            <div class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center justify-content-sm-between">
                                                <input type="text" class="search_input" placeholder="¿Qué estás buscando?" required="required">
                                                <button class="search_button">Buscar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Home Slider Dots -->

        <div class="home_slider_dots">
            <ul id="home_slider_custom_dots" class="home_slider_custom_dots">
                <li class="home_slider_custom_dot active">01.</li>
                <li class="home_slider_custom_dot">02.</li>
                <li class="home_slider_custom_dot">03.</li>
            </ul>
        </div>

    </div>
</div>

<!-- Categories -->

<div class="categories">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="categories_container d-flex flex-md-row flex-column align-items-start justify-content-start">

                    <!-- Category -->
                    <div class="category text-center">
                        <a asp-controller="Places" asp-action="Restaurant">
                            <div class="d-flex flex-md-column flex-row align-items-md-center align-items-md-start align-items-center justify-content-start">
                                <div class="cat_icon"><img src="~/images/icon_1.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
                                <div class="cat_title">Donde Comer</div>
                            </div>
                        </a>
                    </div>

                    <!-- Category -->
                    <div class="category text-center">
                        <a asp-controller="Products" asp-action="WhereToSleep">
                            <div class="d-flex flex-md-column flex-row align-items-md-center align-items-md-start align-items-center justify-content-start">
                                <div class="cat_icon"><img src="~/images/icon_2.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
                                <div class="cat_title">Donde Dormir</div>
                            </div>
                        </a>
                    </div>

                    <!-- Category -->
                    <div class="category text-center">
                        <a href="listings.html">
                            <div class="d-flex flex-md-column flex-row align-items-md-center align-items-md-start align-items-center justify-content-start">
                                <div class="cat_icon"><img src="~/images/icon_3.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
                                <div class="cat_title">Qué hacer</div>
                            </div>
                        </a>
                    </div>

                    <!-- Category -->
                    <div class="category text-center">
                        <a href="listings.html">
                            <div class="d-flex flex-md-column flex-row align-items-md-center align-items-md-start align-items-center justify-content-start">
                                <div class="cat_icon"><img src="~/images/calendar.svg" class="svg" alt="https://www.flaticon.com/free-icon/calendar_2693507?term=event&page=1&position=3"></div>
                                <div class="cat_title">Eventos</div>
                            </div>
                        </a>
                    </div>

                    <!-- Category -->
                    <div class="category text-center">
                        <a href="listings.html">
                            <div class="d-flex flex-md-column flex-row align-items-md-center align-items-md-start align-items-center justify-content-start">
                                <div class="cat_icon"><img src="~/images/icon_5.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
                                <div class="cat_title">Cultura</div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="food container_custom">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center"><h1>Planes y Servicios Recomendados</h1></div>
                <div class="grid_container grid">

                    <!-- Grid Item -->
                    <div class="grid-item grid_large">
                        <div class="food_item">
                            <div class="food_item_tag"><a href="#">Fusion</a></div>
                            <div class="background_image" style="background-image:url(images/food_1.jpg)"></div>
                        </div>
                    </div>

                    <!-- Grid Item -->
                    <div class="grid-item grid_small">
                        <div class="food_item">
                            <div class="food_item_tag"><a href="#">Asian</a></div>
                            <div class="background_image" style="background-image:url(images/food_2.jpg)"></div>
                        </div>
                    </div>

                    <!-- Grid Item -->
                    <div class="grid-item grid_medium">
                        <div>
                            <div class="grid_half">
                                <div class="food_item">
                                    <div class="food_item_tag"><a href="#">Breakfast</a></div>
                                    <div class="background_image" style="background-image:url(images/food_3.jpg)"></div>
                                </div>
                            </div>
                            <div class="grid_half">
                                <div class="food_item">
                                    <div class="food_item_tag"><a href="#">Pizza</a></div>
                                    <div class="background_image" style="background-image:url(images/food_4.jpg)"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Grid Item -->
                    <div class="grid-item grid_medium">
                        <div class="food_item">
                            <div class="food_item_tag"><a href="#">Vine & Dine</a></div>
                            <div class="background_image" style="background-image:url(images/food_5.jpg)"></div>
                        </div>
                    </div>

                    <!-- Grid Item -->
                    <div class="grid-item grid_small">
                        <div class="food_item">
                            <div class="food_item_tag"><a href="#">Coffee</a></div>
                            <div class="background_image" style="background-image:url(images/food_6.jpg)"></div>
                        </div>
                    </div>

                    <!-- Grid Item -->
                    <div class="grid-item grid_large">
                        <div class="food_item">
                            <div class="food_item_tag"><a href="#">Fine Dine</a></div>
                            <div class="background_image" style="background-image:url(images/food_7.jpg)"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    @{await Html.RenderPartialAsync("_ScriptsHomeIndexPartial");}
}
