<div class="reviews">
    <div class="section_title"><h1>2 Comentarios</h1></div>
    <div class="reviews_container">
        <h1>@ViewData["Places"]</h1>
        <!-- Review -->
        <div class="review d-flex flex-lg-row flex-column align-items-start justify-content-start">
            <div class="review_user_container">
                <div>
                    <div class="review_user d-flex flex-lg-column flex-row align-items-center justify-content-start">
                        <div class="review_user_image">
                            <img src="~/images/user_4.jpg" alt="" />
                        </div>
                        <div class="text-lg-center">
                            <div class="review_user_name">
                                <a href="#">Maria Smith</a>
                            </div>
                            <div class="review_count">
                                <a href="#">5 reviews</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review_content">
                <div class="review_title_container d-flex flex-row align-items-start justify-content-start">
                    <div class="review_title">"Great place"</div>
                    <div class="review_rating ml-auto">4,5</div>
                </div>
                <div class="review_text">
                    <p>
                        Great place to visit, the food is awesome, I
                        really love it. I would recommend it to other
                        people.
                    </p>
                </div>
                <div class="review_images d-flex flex-row align-items-start justify-content-start flex-wrap">
                    <div class="review_image">
                        <a class="colorbox"
                           href="~/images/review_1_large.jpg">
                            <img src="~/images/review_1.jpg" alt="" />
                        </a>
                    </div>
                    <div class="review_image">
                        <a class="colorbox"
                           href="~/images/review_2_large.jpg">
                            <img src="~/images/review_2.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>