@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "¿Olvidaste tu contraseña?";
}



<div class="container-login ">

    <div class="login-content style="margin-top:131px"">
        <div class="section_title text-center m-5"><h1>¿Olvidaste tu contraseña?</h1></div>
        <div class="col-md-12">
            <section>
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn button_2 btn-lg btn-block" style="color:aliceblue">Enviar</button>
                </form>
            </section>
        </div>
    </div>

</div>



@section Scripts {

    <script type="text/javascript">
        $("header").last().addClass("addColorWallpaper");
    </script>
    <partial name="_ValidationScriptsPartial" />
}
